<!DOCTYPE html>
<html>
    <head>
        <title>Mikhail Panchenko's Blog</title>
        <link rel="stylesheet" type="text/css" href="/css/base.css" />
        <link href="/favicon.ico" rel="icon" type="image/x-icon" />
    </head>

    <body>
        <div id="header">
            <span id="blog-title">Mikhail Panchenko</span> <span id="blog-tagline">Burrito Enthusiast, Naked Neighbor</span>
        </div>
        <div id="content-wrapper">
            <!--<div id="sidebar">
            
            </div>-->
            <div id="content">
                {{ content }}
            </div>
        </div>
    </body>
</html>
